
.App {
  text-align: left;
  padding: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: left;
}

.text-input {
  margin-bottom: 20px;
}


.buttonWrapper {
  width: auto;
}

.buttonSubmit {
  margin-top: 50px;
}